nav {
  margin-bottom: 30px;
}

.img_hover {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
.bs-component:hover .img_hover {
    opacity: 0.3;
  }
  
.text {
    background-color: #18bc9c;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

.responsive {
  width: 100%;
  height: auto;
}